h1 {
    color: green;
    font-weight:900;
    
}

#imagen1 {
height: 225px;
width: 225px;
}

body {


}

table {
    margin: auto;
}

.gris {
    color: gray;
}

#menu {
    background-color: black;
    color: white;
    max-width: 100%;

}

#menu2 {
    background-color: black;
    color: white;
    max-width: 100%;
    height: 100px;
}


